@import "tailwindcss";


@theme {
    --color-black: #000000;
    --color-black-100: #000319;
    --color-black-500: #1a1a1a;

    --color-background: hsl(0 0% 100%);
    --color-foreground: hsl(240 10% 3.9%);
    --color-card: hsl(0 0% 100%);
    --color-card-foreground: hsl(240 10% 3.9%);
    --color-popover: hsl(0 0% 100%);
    --color-popover-foreground: hsl(240 10% 3.9%);
    --color-primary: hsl(240 5.9% 10%);
    --color-primary-foreground: hsl(0 0% 98%);
    --color-secondary: hsl(240 4.8% 95.9%);
    --color-secondary-foreground: hsl(240 5.9% 10%);
    --color-muted: hsl(240 4.8% 95.9%);
    --color-muted-foreground: hsl(240 3.8% 46.1%);
    --color-accent: hsl(240 4.8% 95.9%);
    --color-accent-foreground: hsl(240 5.9% 10%);
    --color-destructive: hsl(0 84.2% 60.2%);
    --color-destructive-foreground: hsl(0 0% 98%);
    --color-border: hsl(240 5.9% 90%);
    --color-input: hsl(240 5.9% 90%);
    --color-ring: hsl(240 10% 3.9%);
    --color-purple: hsl(270, 70%, 60%)
}




@theme inline {
    --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}


@theme inline {
    --animate-scroll: scroll var(--animation-duration, 30s) var(--animation-direction, forwards) linear infinite;

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
}

@keyframes spotlight {
    0% {
        opacity: 0;
        transform: translate(-72%, -62%) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -40%) scale(1);
    }
}


@layer base {
    * {
        @apply scroll-smooth;
    }

    body {
        @apply bg-foreground text-background;
    }

    button {
        @apply active:outline-none;
    }
}

@layer utilities {
    .heading {
        @apply font-bold text-4xl md:text-5xl text-center;
    }

    .black-gradient {
        background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
    }
}